@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  font-family: Montserrat;
}
body {
  background-image: url("./images/background_clock.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}
.clock-border {
  width: 20rem;
  height: 20rem;
  border: 10px solid #fff;
  border-radius: 50%;
  margin: 20px auto;
  box-shadow: 3px 3px 7px 3px #00000030;
  background-color: rgba(31, 31, 31, 0.091);
  background-image: url('./images/clock_num.png');
  background-size: cover;
}
.time-container {
  width: 100%;
  height: 100%;
  position: relative;
  /* transform: translateY(-3px); */
}
.time {
  background-color: #000;
  width: 50%;
  height: 5px;
  position: absolute;
  top: 49%;
  /* Transform origin is the point where the hand starts to rotate */
  transform-origin: 100%;
  transform: rotate(90deg); /* The hand starts in vertical at 12:00 */
  /*transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1); */
}
.seconds {
  height: 2px;
}
.hour {
}
.today {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 700;
}
.today-border {
  background-color: rgba(0, 0, 0, 0.118);
  padding: 1rem 2rem;
  box-shadow: 1px 1px 4px 1px #00000030;
  text-shadow: 1px 1px 4px  #00000030;
  width: 300px;
  color: #fff;
  border-radius: 3px;
}
footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  font-size: 22px;
  padding: .5rem 1rem;
  background-color: rgba(0, 0, 0, 0.084);
  box-shadow: 1px 1px 4px 1px #00000030;
  border-radius: 3px;
}
footer > a {
  color: #fff;
  text-shadow: 1px 1px 4px  #00000030;
}